* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

.container {
  width: 90%;
  margin: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e5e5e5;
  height: 90vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
body .game {
  width: 100%;
}
body .game header {
  background-color: slateblue;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
body .game header h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 22px;
  font-family: cursive;
  text-align: center;
}
body .game main {
  position: relative;
  top: 80px;
}
body .game main .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .game main .container .select-box {
  width: 100%;
  background-color: #fff;
  padding: 15px;
}
body .game main .container .select-box label {
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 10px;
}
body .game main .container .select-box #levels {
  border: none;
  background-color: slateblue;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px;
  width: 50%;
  outline: none;
  cursor: pointer;
}
body .game main .container .select-box #levels option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  background-color: #fff;
  color: #252525;
  font-size: 14px;
}
body .game main .container .select-box #levels:hover {
  filter: brightness(120%);
}
body .game main .container .lvl {
  background-color: #fff;
  padding: 15px;
  text-transform: capitalize;
  text-align: center;
  line-height: 2;
}
body .game main .container .lvl span {
  color: hsl(248, 53%, 58%);
  font-weight: bold;
}
body .game main .container .lvl span::before {
  content: "[ ";
}
body .game main .container .lvl span::after {
  content: " ]";
}
body .game main .container .start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  background-color: slateblue;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}
body .game main .container .start:hover {
  filter: brightness(120%);
}
body .game main .container .the-word {
  text-transform: capitalize;
  text-align: center;
  font-size: 45px;
  color: slateblue;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .game main .container #input {
  width: 100%;
  border: 2px solid slateblue;
  border-radius: 5px;
  padding: 15px;
  caret-color: slateblue;
  font-weight: bold;
  font-size: 16px;
  outline-color: transparent;
  cursor: text;
}
body .game main .container #input:focus {
  outline-color: slateblue;
  border-color: transparent;
}
body .game main .container #input::-moz-placeholder {
  text-transform: capitalize;
  opacity: 0.5;
  color: gray;
}
body .game main .container #input::placeholder {
  text-transform: capitalize;
  opacity: 0.5;
  color: gray;
}
body .game main .container .up-comming {
  display: flex;
  background-color: #fff;
  padding: 15px;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .game main .container .up-comming div {
  border-radius: 5px;
  background-color: slateblue;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
}
body .game main .container .time-and-score {
  display: flex;
  background-color: #fff;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
body .game main .container .time-and-score .time {
  text-transform: capitalize;
}
body .game main .container .time-and-score .time span {
  font-weight: bold;
  color: slateblue;
}
body .game main .container .time-and-score .score {
  text-transform: capitalize;
}
body .game main .container .time-and-score .score span {
  color: slateblue;
  font-weight: bold;
}
body .game footer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  box-shadow: 0 0 500px #999;
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}
body .game footer .finish {
  background-color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  padding: 50px;
}
body .game footer .finish p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px;
  color: orangered;
}
body .game footer .finish .try-again {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: orangered;
  color: #fff;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
body .game footer .finish .try-again:focus {
  outline: none;
}
body .game footer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */